html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: #512BD4;
}

h3 {
  color: #230072C6;
}

img {
  margin-right: 1rem;
}
